<%- include("partials/header") %>
<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
  <div class="container">
    <a
      class="navbar-brand mr-auto h5"
      href="/"
      style="
        color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      "
      ><i class="fa fa-bus" aria-hidden="true"></i> College Bus</a
    >
    <button
      class="navbar-toggler custom-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#Navbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="Navbar">
      <span class="navbar-nav ml-auto">
        <a
          role="button"
          href="/login"
          style="
            color: black;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
              sans-serif;
          "
          class="h5"
          ><span class="fa fa-sign-out"></span>Login</a
        >
      </span>
    </div>
  </div>
</nav>
<div class="text-center pt-5">
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqMIDXaRaip6zsJU1SZcvbps8zgSAfbgEDgQ&usqp=CAU"
    alt=""
  />
  <p class="">Congratulations! Your seat has been reserved</p>
  <p>Email nofitication has been sent ypur email id</p>
</div>

<div class="text-center p-5">
  <a href="/" class="btn btn-lg rounded-pill btn-primary"
    >Home <i class="fa fa-home" aria-hidden="true"></i
  ></a>
</div>
<%- include("partials/footer") %>
